body{
    background: url(../images/fondo2.jpg)!important;
}

header{
    background: #fff;
    width: 100%;
    height: 50px!important;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0px solid #000000!important;
    z-index: 100;
}
.marco {
    width: 300px;
    border: 2px solid gray;
    border-radius: 4px;
}
tr{
    text-align: center;
}
.acciones{
    display: inline-flex;
}
.accionMove{
    margin-right: 5px;
    margin-left: 5px; 
}
.divSession{
}
.marco{
    border: 2px solid gray;
}
.rotate1{
    margin: 130px auto;
    transform : rotate(2deg);
    -moz-transform : rotate(2deg); /* Firefox */
    -webkit-transform : rotate(2deg); /* Chrome - Safari */
    -o-transform : rotate(2deg); /* Opera */
}
.rotate2{
    padding: 15px;
    transform : rotate(-2deg);
    -moz-transform : rotate(-2deg); /* Firefox */
    -webkit-transform : rotate(-2deg); /* Chrome - Safari */
    -o-transform : rotate(-2deg); /* Opera *//
}
.formSession input{
    display: block;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white!important;
    font-size: 25px;
    width: 100%;
    margin: 10px 0px;
    padding-left: 5px;
}
.formSession input:-webkit-autofill {
    webkit-box-shadow: 0 0 0px 1000px #000 inset;
    background-color: transparent!important;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}

.btnSession{
    display: inline-block;
    background: rgba(255, 0, 0, 0.70);
    border-radius: 3px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 25px;
}
.btnSession:hover{
    background: rgba(255, 0, 0, .90);
    cursor: pointer;
}
.btnSession i{

}
.adsolu2{
    display: none;
}
.logoForm i{
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 150px;
    color: rgba(255, 0, 0, 0.8);
}
.menu{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 110px;
}
.adsolu{
    position: absolute;
    right: 0px;
}
.adsolu2{
    position: absolute;
    right: 20px;
    /*top: 110px;*/
}
.menu ul{
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.85);
    padding: 0!important;
}
.menu li{
    float: none!important;
    text-align: center;
    display: inline-block;
}
.menu li:hover{
        background: rgba(51, 122, 183, 0.5);
}
.menu a{
}
.menu i{
    padding: 20px;
}
.btnMo{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
}
