body{
    background: url(../images/fondo2.jpg)!important;
}
header{
    background: #fff;
    width: 100%;
    height: 50px!important;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 0px solid #000000!important;
    z-index: 100;
}

tr{
    text-align: center;
}
.acciones{
    display: inline-flex;
}
.accionMove{
    margin-right: 5px;
    margin-left: 5px; 
}